<ul >
             
            <li><a class="nav" href="/" style="text-decoration: none;">Home</a></li>
            <li><a  class="nav" href="/store-management" style="text-decoration: none;">จัดการข้อมูลร้าน</a></li>
            <li><a  class="nav" href="/add-product" style="text-decoration: none;">เพิ่มข้อมูล</a></li>
            
</ul>

